<!DOCTYPE html>
<!--Criação do site para o espetinho aqui de casa-->
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/imagens/favicon.ico" type="image/x-icon">

      <!-- Bootstrap-->  
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">

    <title>Lista de Presentes</title>
</head>

    <body>

        <header>

            <nav class="navbar navbar-expand-md" role="navigation">

                <div class="container-fluid">   

                    <a class="navbar-brand" href="/route/index" target="_self"id="logo">
                        <img src="/imagens/favicon.ico" width="70" height="70" alt="Anel de Noivado">
                        L&Y
                    </a>

                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#main_nav" aria-controls="main_nav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                      </button>

                    <div class="collapse navbar-collapse justify-content-end" id="main_nav">

                        <ul class="navbar-nav">
                            
                            <li class="nav-item"><a class="nav-link" href="/route/index" target="_self" rel="Prev" id="home-menu">Home</a></li>
                            <li class="nav-item"><a class="nav-link active" href="/route/lista" target="_self" id="lista-presentes-menu">Lista de Presentes</a></li>
                            <li class="nav-item"><a class="nav-link" href="/route/local" target="_self" rel="Next" id="local-menu">Local da Festa</a></li>

                        </ul>

                    </div>
                    
                </div>
        
             </nav>

    </header>

    <main>

        <div class="container" id="listaPresentesScreen">

            <div>

                <p class="display-2"> Lista de Presentes</p>
                <hr style="border: 2px solid red;">

            </div>

            <form action="/route/lista" method="POST" id="modal-presentes">

                <!--Nome-->

                <div class="form-floating mb-3">

                    <input type="text" class="form-control" name="nome" id="floatingName" placeholder="Seu Nome">
                    <label for="floatingName">Nome</label>

                </div>

                <!--Recado-->

                <div class="form-floating mb-3">

                    <textarea style="height: 10rem;" class="form-control" name="recado" id="floatingRecado" placeholder="Seu Recado"></textarea>
                    <label for="floatingRecado">Seu Recado</label>

                </div>

                <!--Presente-->
            
                <div class="input-group">

                    <select name="presente" class="form-select form-select-lg" id="lista-presentes-disp" required>
                        <option value="">Escolha o presente...</option>
                        <option value="Nenhum Presente">Nenhum!</option>

                            {{#each lista}} <!-- lista é o nome da variável do listap.js que recebe os dados do banco-->
                                <option value="{{presente}}">{{presente}}</option> <!--" " no value="{{lista}}" para preservar os espaços em branco - lista é o nome da coluna no banco de dados-->

                            {{/each}}

                    </select>

                    <!--Btn Confirma-->

                    <div class="d-grid gap-2"> <!--class="input-group-append"-->

                        <button id="btnSalvarPresente" type="submit" class="btn btn-success btn-lg">Confirmar</button>

                    </div>

                </div>

            </form>

        <script>
            
            const btn = document.getElementById("btnSalvarPresente")

        btn.addEventListener("click", () => {
            window.alert("Obrigado pelo seu carinho.\nTe esperamos no dia 23/10/2021\nUm abraço.\nLeonardo e Yasmin!")
            })

        </script>
            <!-- Scripts Bootstrap-->
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
        <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script> -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

        <!--Font Awesome-->
        <script src="https://kit.fontawesome.com/480e28bee8.js" crossorigin="anonymous"></script>

    </body>

</html>